html{
   
}
body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
}
div {
    display: block;
}

.offcanvas {
    display: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav>li {
    position: relative;
    display: block;
}
ol, ul {
    margin-left: 0;
    padding-left: 1.5em;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.border-top-dark {
    border-top: 1px solid #6f6e68;
}
.border-bottom-dark {
    border-bottom: 1px solid #6f6e68;
}
.navbar {
    color: #fff;
    z-index: 1010;
    transition: top .15s ease-in-out;
}

.navmenu {
    width: 292px;
    height: 100%;
    border-width: 1px;
    border-style: solid;
}
.navmenu-nav>li>a,  {
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 28px;
    padding-right: 28px;
}

.navmenu-fixed-left, .navmenu-fixed-right {
    position: fixed;
    z-index: 1100;
    top: 0;
}

.navmenu-fixed-left {
    left: 0;
    right: auto;
    border-width: 0 1px 0 0;
    bottom: 0;
    overflow-y: auto;
}
.navmenu-backdrop {
    cursor: pointer;
    position: fixed;
    background-color: black;
    -webkit-overflow-scrolling: touch;
    z-index: 1100;
}
.navbar-default {
    z-index: 1010;
    background-color: #d31145;
    border-color: transparent;
}

.navbar-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}
.navbar-brand {
    position: absolute;
    left: 100px;
    right: 100px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.navbar-slim {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 24px;
    background-color: #d31145;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1000;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.navbar-title-slim {
    color: #fff;
    font-family: "AIATitle","Calibri",sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.navbar-one {
    height: 88px;
    padding-left: 48px;
    padding-right: 48px;
}